@import url("https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Roboto:wght@300;400;700&display=swap");

* {
  --primary-color: #3a86ff;
  --secondary-color: #9d5df76e;
  --transparent-color: #ffffff00;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --button-color: #f39bc14b;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  header {
    padding: 6vw;
  }

  .description {
    margin: 6vw;
    font-size: 14px;
  }
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
}

header {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2vw;
  padding-bottom: 3vw;
}

h1 {
  padding-top: 2vw;
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-size: clamp(3.5rem, 5vw, 6rem);
  text-align: center;
  text-shadow: 4px 4px 2px var(--secondary-color);
}

/* input{

} */

.description {
  border: 5px groove var(--secondary-color);
  border-radius: 15px;
  font-size: clamp(0.5rem, 5vw, 1.5rem);
  padding: 2vw;
  margin: 4vw;
  text-align: center;
  max-width: 1600px;
  background-color: white;
  box-shadow: 8px 6px 8px rgba(0, 0, 0, 0.1);
}

.banner {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-shadow: 5px 4px 6px rgba(0, 0, 0, 0.1);
}

a {
  text-decoration: none;
  color: white;
}

.body-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  background-color: var(--button-color);
  border: none;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  box-shadow: 1px 3px 5px #333333a4;
}

.agdasima-regular {
  font-family: "Agdasima", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.agdasima-bold {
  font-family: "Agdasima", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.button {
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  font-size: clamp(0.5rem, 1vw, 2rem);
  cursor: pointer;
  background-color: var(--transparent-color);
  transition: background-color 0.3s ease;
  transition: box-shadow 0.1s ease;
  text-shadow: 1px 1px 2px #535353c2;
}

.button:hover {
  background-color: var(--button-color);
  box-shadow: 2px 2px 3px 2px #535353c2;
}

.card {
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.grid {
  display: grid;
   grid-template-rows:repeat(5, minmax(250px, 1fr));
    grid-template-columns:repeat(5, minmax(250px, 1fr));

  gap: 10px;
  padding: 50px;
  margin-left:200px ;
    margin-right:200px ;

}
